---
###########################
#  tasks/zigbee2mqtt.yml  #
###########################
- name: Copy Zigbee2MQTT configuration.
  ansible.builtin.template:
    src: templates/z2m/configuration.yaml.j2
    dest: "{{ volumes['z2m_data'] }}/configuration.yaml"
    mode: "0644"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
  become: true

- name: Change ownership of adapter.
  ansible.builtin.file:
    path: "{{ zigbee_adapter }}"
    owner: "{{ ansible_user_id }}"
  become: true


- name: Create zigbee2mqtt container.
  containers.podman.podman_container:
    pod: "{{ pod_name }}"
    name: "{{ z2m_name }}"
    image: "docker.io/koenkk/zigbee2mqtt"
    state: started
    restart_policy: "on-failure"
    group_add: dialout
    volumes:
      - "/run/udev:/run/udev:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ volumes['z2m_data'] }}:/app/data:Z"
    device: "{{ zigbee_adapter }}:/dev/ttyACM0:rwm"
